h1{
    text-align: center;
    margin-top: 120px;

}


*{margin:0;padding:0}

h1,h2,h3,h4{
    font-family: Raleway;
}

h2,h3,h4{
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 80px;

}
p{
    font-family: Open Sans;
}
a{
    color: #fff;
}

.menu{
    height: 80px;
    border-bottom: 1px solid #fff;
}
/*header styles*/
.background-top{
    background-image: url("https://www.paypalobjects.com/webstatic/mktg/wright/home/home_banner_pl_home_new.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}
.header{
    height: 400px;
}
.header h1{
    line-height: 1.3em;
    margin-bottom: 20px;
    font-size: 60px;
    color: #fff;
    text-align: center;
}
.free-acount-button{
    width: 28%;
    margin-right: auto;
    margin-left: auto;
    background: #0070ba;
    line-height: 1.5;
    padding: 13px 30px 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    margin-bottom: 18px;

}
.paypal-company-button{
    width: 28%;
    margin-right: auto;
    margin-left: auto;
    line-height: 1.5;
    padding: 13px 30px 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;  
    border: 1px solid #fff;

}

/*end header styles*/



.background-color{
    background: #009cde;
    background-image: radial-gradient(circle farthest-side at center bottom , #009cde, #003087 125%);
    color: #fff;
}
.paypal-title p{
    text-align: center;
    margin-top: 20px;
}
.why-paypal{
    margin-bottom: 60px;
}
.for-buyer{
    margin: 20px;
}
.for-buyer a{
    position: relative;
    top:12px;
    font-weight: bold;
    color: #0070ba;

}
.background-activation{
    text-align: center;
}
.circle{
  border: 1px solid #a9a9a9;
  border-radius: 80%;
  color: black;
  float: left;
  font-family: raleway;
  font-size: 17px;
  font-weight: bold;
  margin-right: 26px;
  padding: 8px;
  text-align: center;
  width: 48px;

}
.activation h2{
    text-align: center;
    margin-top: 60px;

}
.title-sellers h2{
    text-align: center;
    margin-bottom: 70px;
}
.for-sellers a{
    color: #0070ba;
    font-weight: bold;
}

.background-color-grey{
    background: #f7f9fa;
}

.paypal-company-button2{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
    padding: 13px 30px 15px;
    text-align: center;
    color: #2c2e2f;
    font-size: 25px;
    font-family: raleway;


}
.free-acount-button2{
    width: 28%;
    margin-right: auto;
    margin-left: auto;
    background: #0070ba;
    line-height: 1.5;
    padding: 13px 30px 15px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    margin-bottom: 78px;
    cursor: pointer;
}

.footer-main a{
    color: #666;
    margin-right: 25px;
    margin-bottom: 15px;
    font-weight: bold;


}
.footer2 a{
    color: #666;
    margin-right: 25px;
    font-size: 11px;
}

.footer  li{
    float: left;
    list-style: none;

}
.footer{
    margin-top: 120px;
    margin-bottom: 40px;
}


.dupa{
    salata:zielona ;
}
