/*bootstrap hack :)*/
.container{
    max-width: 972px;
    background: #fff;
}
/*common*/
.main-background{
    background: #F1F7F7;
}


/*logo*/
.logo-container{
    padding: 15px 0px;
}
/*logo end*/

/*menu*/
.menu{
    background: #575656;
}
.menu a, 
.menu .dropdown-menu a{
    color: #fff;
    font-weight: bold;
    font-size: 13px;   
}
.menu .dropdown-menu{
    background: #9e9e9e;
}
.menu li.dropdown.open a{
    background: #9e9e9e;
    margin: 2px 5px;
}
.menu .navbar-nav > li a:hover{
    background: #bdbdbd; 
    color: #fff;   
}
.menu .fa.fa-home{
    font-size: 20px;
}
.menu .navbar-nav > li{
    border-right: 1px solid #757575;
}
/*menu end*/

/*slider*/
.slider img{
    width: 100%;
}
.slider .slider-description{
    background: rgba(60, 60, 60, 0.6);
    padding: 10px 0px 13px 18px;
    position: relative;
    top: -45px;
}
.slider h3{
    font-size: 20px;
    color: #fff;
    margin-top: 0px;
    margin-bottom: 0px;
}
/*slider end*/

/*text-container*/
.text-container h5{
    font-weight: bold;
    font-size: 17px;
}
/*text-container end*/

/*right-column*/
.right-column{
    padding-right: 22px;
}
.right-column .news-container{
    border: 1px solid #dfdfdf;
    padding: 20px 32px 22px 22px;
}
.right-column .news-container img{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 22px;
}
.right-column .news-container h5{
    color: #95a6b0;
    font-weight: bold;
    margin-bottom: 25px;
    margin-top: 32px;
}
.right-column .news-container span{
    color: #95a6b0;
    font-size: 12px;
}
.right-column .news-container a{
    color: #626262;
    font-size: 13px;
}   
.right-column .news-container h4{
    color: #fff;
    background: #626262;
    font-weight: bold;
    font-size: 13px;
    margin-left: -22px;
    display: inline;
    padding: 6px 8px 3px 8px;
}
.right-column .small-slider{
    padding-top: 20px;
    padding-bottom: 30px;
}
.right-column .small-slider:hover{
    cursor: pointer;
}
.right-column .small-slider img{
    width: 100%;
}
.right-column .small-slider .small-slider-description{
    background: #95A6B0;
    margin-top: -20px;
    padding: 10px 0 5px 18px;
}

.right-column .small-slider .small-slider-description h3{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

/*right-column end*/

/*text-container*/
.text-container p{
    color: #626262;
    text-align: justify;
    font-size: 13px;
}
.text-container a{
    color:#95a6b0;
    font-weight: bold;
}
.text-container h5{
    color: #575656;
    font-size: 14px;
}
/*text-container end*/
/*info-boxes*/
.info-boxes{
    margin: 0 20px 50px 0px;

}
.info-box{
    border: 1px solid #dddddd;
    padding: 20px;
    height: 277px;
}
.info-boxes .info-box h3{
    font-weight: bold;
    font-size: 13px;
    background: red;
    display: inline;
    color: #fff;
    padding: 6px 11px 3px 11px;
    margin-left: -20px;
}
.info-boxes .info-box1 h3{
    background:#E51F1F; 
}
.info-boxes .info-box2 h3{
    background:#3B5998; 
}
.info-boxes .info-box3 h3{
    background:#568001; 
}
.info-boxes .info-box4 h3{
    background:#660275; 
}
.info-boxes .info-box ul{
    list-style: none;
    padding-left: 0px;
    padding-top: 20px;
}
.info-boxes .info-box li a{
    color: #A5AFCD;
    font-size: 14px;
    line-height: 4px;
}

/*info-boxes end*/2px